* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    box-sizing: inherit;
    min-height: 100%;
    font-family: "Roboto", "Noto Sans";
    background: url("../../assets/lms-image.jpeg") no-repeat;
    background-size: cover;
    background-attachment:fixed;
    backdrop-filter: saturate(50%);
    color: #f3f3f3;
}

#root{
    position: relative;
    min-height: 100vh;
    overflow: auto;
    box-sizing: inherit;
    /* display: block; */
}



img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  .eye-btn{
    cursor: pointer;
    margin-top: -30px;
    margin-left: -10px;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #0f0f0f;
   
   }
   
   .eye-btn svg{
       height: 20px;width: 20px;
   }


a {
    color: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 10px auto;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px auto;
}


p {
    font-size: 16px;
    font-weight: 300;
    margin: 10px auto;
    text-align: justify;
}

label {
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    width: 80%;
    height: 80px;
    margin-bottom: 15px;
    line-height: 2;
}

.input-field input,
select {
    height: 30px;
    width: 100%;
    border: 2px solid #c0a756;
}

.input-field-area {
    margin-bottom: 60px;
    height: 100px;
}

.input-field-area textarea {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #c0a756;
}

.input-field input[type='file'] {
    border: none;
}

.reacticons {
    height: 25px;
    width: 25px;
    color: yellow;
    background-color: transparent;
}

.loading{
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
    top:40%;
    margin: auto;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {}

@media screen and (min-width:700px) and (max-width:1024px) {
    h1 {
        font-size: 34px;
        margin: 20px auto;
    }

    h3 {
        font-size: 26px;
        font-weight: 500;
        margin: 10px auto;
    }

    p {
        font-size: 20px;
        margin: 20px auto;
    }

    a {
        font-size: 20px;
    }

    label {
        width: 60%;
        height: 100px;
        font-size: 24px;
    }

    .input-field input,
    select {
        height: 40px;
        font-size: 20px;
    }

    .input-field-area textarea {
        height: 100px;
        font-size: 20px;
    }
}

@media screen and (min-width:700px) and (max-height:800px) {
    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    p,
    a {
        font-size: 24px;
    }

    label {
        display: block;
        margin: 0 auto;
        text-align: left;
        font-size: 20px;
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        line-height: 2;
    }

    .input-field input,
    select {
        height: 30px;
        width: 100%;
        border: 2px solid #c0a756;
        font-size: 20px;
    }


    .input-field-area textarea {
        height: 100px;
        font-size: 20px;
    }

}

@media screen and (min-width:1025px) and (min-height:801px) {
    h1 {
        font-size: 40px;
        margin: 3px auto;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 26px;
        margin: 30px auto;
    }

    a {
        font-size: 26px;
    }
}