#addcourse {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10vh;
}

.addcourse-page {
    max-width: 80vw;
    min-height: 50vh;
    margin: 10vh auto;
    border: 2px solid #c0a756;
}

.course-submit-btn, .course-cancel-btn {
    margin: 30px;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #c0a756;
    cursor: pointer;
}

.addcourse-form{
    display: block;
    box-sizing: border-box;
}

.addcourse-page span{
    border-bottom: 2px solid #c0a756;
}

/* @media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {
} */

@media screen and (min-width:700px) and (max-width:1024px) {
    .course-submit-btn, .course-cancel-btn {
        width: 25%;
    }
}

@media screen and (min-width:700px) and (max-height:800px) {
    .addcourse-page {
        width: 50vw;
    }
    .addcourse-form{
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1025px) and (min-height:801px) {
    .addcourse-page {
        width: 30vw;
    }

    .addcourse-form{
        width: 70%;
        margin: 0 auto;
    }

    .course-submit-btn, .course-cancel-btn {
        width: 30%;
    }
}