#contentpage,
.btns {
    margin: 0 auto;
    display: block;
}

#contentpage a,
#contentpage {
    text-decoration: none;
    text-align: center;
}

#contentpage svg {
    display: inline-block;
}

.logout-btn,
.addCourse-btn,
.manageStudent-btn {
    margin: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #c0a756;
    cursor: pointer;
}

.course-data {
    max-width: 80vw;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 40vh;
}

.course-card {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    width: 60vw;
    height: 35vh;
    color: #f3f3f3;
    border: 2px solid #c0a756;
    border-radius: 10px;
    overflow: hidden;

}

.course-card * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.course-card img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.card-click {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.course-card h1 {
    position: absolute;
    top: 20%;
    opacity: 0.7;
    letter-spacing: 1px;
    width: 100%;
    z-index: 2;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.course-card p {
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    top: 35%;
    margin: 10px;
    text-align: justify;
    opacity: 0;
    letter-spacing: 1px;
    font-weight: 300;
    z-index: 2;
}


.course-card:hover p,
.course-card:hover h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.25s ease-in-out;
}


.deleteCourse-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 4;
    background-color: transparent;
    border: none;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 5px;
}

.updateCourse-btn {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 45px;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {
    .course-card {
        height: 30vh;
    }
}

@media screen and (min-width:700px) and (max-width:1024px) {
    #contentpage {
        margin: 0 auto;
    }

    .course-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 90vw;
    }

    .course-card {
        width: 40vw;
        height: 30vh;
        margin: 30px 15px;
    }

    .logout-btn,
    .addCourse-btn,
    .manageStudent-btn {
        width: 30%;
    }

}

@media screen and (min-width:700px) and (max-height:800px) {
    .course-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:0 auto;
        max-width: 70vw;
    }

    .course-data::after{
        content: "";
        flex: 1;
        justify-content: space-around;
    }

    .course-card {
        width: 30vw;
        height: 45vh;
        margin: 50px 10px;
    }

    .logout-btn,
    .addCourse-btn,
    .manageStudent-btn {
        width: 20%;
    }

    .course-card h1 {
        top: 10%;
        margin-bottom: 20px;
    }

    .course-card p {
        top: 30%;
    }
}

@media screen and (min-width:1025px) and (min-height:801px) {
    .course-data {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }

    .course-card {
        width: 20vw;
        height: 35vh;
        margin: 50px 30px;
    }


    .logout-btn,
    .addCourse-btn,
    .manageStudent-btn {
        width: 15%;
    }
}