#login{
    padding-bottom: 10vh;
}
.login-hero-img {
    display: none;
}

.login-content {
    max-width: 80vw;
    max-height: 90vh;
    margin: 5vh auto;
    border: 2px solid #c0a756;
    text-align: center;
}
.login-page{
    margin: 5vh auto;
}
.login-page span{
    margin: 20px; 
    border-bottom: 2px solid #c0a756;
}

.login-form{
    max-width: 80%;
    margin: 5vh auto;
}

.login{
    max-height: 100vh;
}

.login-btn {
    margin: 30px;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #c0a756;
    cursor: pointer;
}

.links a {
    display: block;
    cursor: pointer;
    color: #f3f3f3; 
    text-align: center;
    width: 80%;
    margin:0 auto;
    padding:10px;
}

.login-btn:hover{
    background-color: #0f0f0f;
    color: #f7f7f7;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {
    .login-page{
        margin: 15vh auto;
    }
}

@media screen and (min-width:700px) and (max-width:1024px) {
    .login-content {
        max-height: 80vh;
        margin: 10vh auto;
    }
    .login-page{
        margin: 5vh auto;
    }
    .login-page span {
        font-size: 24px;
    }

    .login-btn {
        font-size: 24px;
        width: 30%;
    }
    .links a {
        padding: 30px;
    }
}

@media screen and (min-width:700px) and (max-height:800px) {
    .login-page span{
        font-size: 20px;
    }
    .login-content {
        max-height: 100vh;
    }
    #login{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 80vw;
        min-height: 80vh;
        margin: 5vh auto;
        padding-bottom: 20vh;
    }
    .login-hero-img{
        display: block;
        width: 40vw;
    }
    .login-hero-img img{
        width: 40vw;
        height: 50vh;
        margin:5vh auto;
    }

    .login-btn {
        width: 50%;
    }
    .links a {
        padding: 20px;
    }
    .login-content {
        width: 50vw;
        margin: 0 auto;
    }
    .login-btn {
        /* margin: 15px; */
        width: 30%;
    }
    .links a {
        padding: 10px;
    }

    .login-form{
        margin-bottom: 20px;
    }

}

@media screen and (min-width:1025px) and (min-height:801px) {
    .login-page span {
        font-size: 24px;
    }
    .login-hero-img{
        display: block;
        width: 40vw;
    }
    #login{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 70vw;
        height: 100vh;
        padding-bottom: 10vh;
    }
    .login-hero-img img{
        width: 80%;
        height: 40vh;
        margin:5vh auto;
    }
    .login-content {
        width: 30vw;
        margin: 10vh auto;
    }

}