.recover-img {
    display: none;
}

.recover-page {
    min-height: 50vh;
    max-width: 70vw;
    border: 2px solid #c0a756;
    margin: 25vh auto;
    text-align: center;
}

.recover-page span {
    border-bottom: 2px solid #c0a756;
}

.recover-form {
    margin-top: 30px
}

.recover-btn {
    margin: 30px;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #c0a756;
    cursor: pointer;
}

.recover-btn:hover {
    background-color: #0f0f0f;
    color: #f3f3f3;
}

.cancel-btn a {
    display: block;
    cursor: pointer;
    color: #f3f3f3;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {
    .recover-page h1 {
        margin-top: 8vh;
    }
}

@media screen and (min-width:701px) and (max-width:1023px) {
    .recover-page h1 {
        margin-top: 8vh;
    }

    .recover-page span {
        font-size: 24px;
    }

    .recover-btn {
        width: 30%;
        font-size: 24px;
    }
}

@media ((min-width:701px) and (max-height:800px)) or (min-width:1024px){
    #recover {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 70vw;
        margin: auto;
    }

    .recover-img {
        display: block;
        width: 40vw;
    }

    .recover-img img {
        display: block;
        width: 40vw;
        height: 45vh;
        margin: 5vh auto;
    }

    .recover-page {
        width: 30vw;
        min-height: 60vh;
        margin: 20vh auto;
    }

    .recover-page h1 {
        margin-top: 10vh;
    }

    .recover-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .recover-btn {
        width: 40%;
        font-size: 20px;
    }

}