#updatecourse {
    text-align: center;
    padding-bottom: 10vh;
}

.updatecourse-page {
    max-width: 80vw;
    min-height: 50vh;
    margin: 10vh auto;
    border: 2px solid #c0a756;
}

.course-update-btn,.update-cancel-btn {
    margin: 20px;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #c0a756;
    cursor: pointer;
}

.updatecourse-form {
    display: block;
    box-sizing: border-box;
    margin-top: 5vh;
}

.updatecourse-page span {
    border-bottom: 2px solid #c0a756;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {
    /* .addcourse-page {
        margin:15vh auto;
    } */
}

@media screen and (min-width:700px) and (max-width:1024px) {
    .course-update-btn,.update-cancel-btn {
        width: 25%;
    }
}

@media screen and (min-width:700px) and (max-height:800px) {
    .updatecourse-page {
        width: 50vw;
    }

    .updatecourse-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 5vh;
    }
}

@media screen and (min-width:1025px) and (min-height:801px) {
    .updatecourse-page {
        width: 30vw;
    }

    .updatecourse-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 5vh;
    }

    .course-update-btn,.update-cancel-btn {
        width: 30%;
    }
}